body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato",
    sans-serif
}

h1 {
    text-align: center;
}

.addTable{
    padding: 10px;
}

.tab-container {
    margin-top: 20px;
}
.tab-button {
    cursor: pointer;
}
.hidden {
    display: none;
}
/* 匯入圖片樣式 */
.import-img {
    cursor: pointer;
    width: 100%;
    height: auto;
    /* transition: transform 0.2s; */
}

.btn-bule {
    background-color: #00C7B4 !important;
    color: white !important;
}

/* 頁碼 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* 按鈕間距 */
  flex-wrap: nowrap; /* 強制一行 */
}
.pagination button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


/* 表單 */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 40px;
    padding-left: 150px;
    padding-top: 20px;
    max-width: 1000px;
}

.form-grid label {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: white;
}
.form-grid input, .form-grid select {
    width: 100%;
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*查詢中的進度條*/
#loading-container {
    display: none;
    width: 100%;
    margin: 10px;
}

#progress-bar {
    width: 0;
    height: 10px;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.3s ease;
}

#progress-text {
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.toast.hide {
    opacity: 0;
}

#growthBtn, #geneBtn {
  display: none; /* 預設隱藏 */
}