<!DOCTYPE html>
<html>
<head>
  <title>Animal Manager | 成長預測</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/predict.css">
  <script src="../static/js/auth.js"></script>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://code.highcharts.com/themes/adaptive.js"></script>
</head>

<body id="myPage">
  <script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;

      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-teal", "");
      }

      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " w3-teal";
    }
  </script>

  <!-- Navbar -->
  <div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-xlarge">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
    <a href="#" onclick="checkLoginAndRedirect('/AnimalManager')" class="w3-bar-item w3-button"><i class="fa fa-home w3-margin-right"></i>HOME</a>
    <a href="#" onclick="checkLoginAndRedirect('/AnimalManager/myfarm')" class="w3-bar-item w3-button w3-hide-small w3-hover-white" id="role">我的牧場</a>
    <a href="#" onclick="checkLoginAndRedirect('/AnimalManager/predict')" class="w3-bar-item w3-button w3-hide-small w3-hover-white w3-teal" id="growthBtn">成長預測</a>
    <a href="#" onclick="checkLoginAndRedirect('/AnimalManager/gene')" class="w3-bar-item w3-button w3-hide-small w3-hover-white" id="geneBtn">基因資料庫</a>
    <a href="#" onclick="checkLoginAndRedirect('/AnimalManager/genePredict')" class="w3-bar-item w3-button w3-hide-small w3-hover-white" id="genePredictBtn">基因預測</a>
    <a href="#" onclick="checkLoginAndRedirect('/AnimalManager/history')" class="w3-bar-item w3-button w3-hide-small w3-hover-white">歷史預測紀錄</a>
    <a href="#" onclick="checkLoginAndRedirect('/AnimalManager/search')" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
    <div class="w3-container w3-right" id="authButtons">  
      <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-theme w3-hover-teal" title="登入/註冊">登入/註冊</button>
    </div>
  </div>

  <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
      <a href="#" onclick="checkLoginAndRedirect('/AnimalManager/myfarm')" class="w3-bar-item w3-button">我的牧場</a>
      <a href="#contact" class="w3-bar-item w3-button">成長預測</a>
      <div class="w3-container">  
        <button onclick="openSignupTab()" class="w3-button w3-theme w3-hover-teal">登入/註冊</button>
      </div>
      <a href="/AnimalManager/search" class="w3-bar-item w3-button">Search</a>
    </div>
  </div>

  <!-- Log in / Sign up Modal -->
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top" style="width: 500px;">
      <header class="w3-container w3-teal w3-display-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
      </header>

      <!-- Tab buttons -->
      <div class="w3-bar w3-light-grey">
        <button class="w3-bar-item w3-button tablink w3-teal" onclick="openTab(event, 'LoginForm')">登入</button>
        <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'SignupForm')">註冊</button>
      </div>

      <!-- 登入表單 -->
      <form id="LoginForm" class="tabcontent" onsubmit="loginUser(event)">
        <div class="w3-container" style="padding: 20px;">
          <label for="login_mail">Email</label>
          <input type="email" id="login_mail" class="w3-input w3-border" placeholder="Email"><br>
          <label for="login_pw">Password</label>
          <input type="password" id="login_pw" class="w3-input w3-border" placeholder="Password"><br>
          <a onclick="document.getElementById('id03').style.display='block'" style="cursor: pointer; color: #009688;">忘記密碼</a><br><br>
          <div style="text-align: center;">
            <button type="submit" class="w3-button w3-theme">登入</button>
          </div>
        </div>
      </form>

      <!-- 註冊表單 -->
      <form id="SignupForm" class="tabcontent" style="display:none;" onsubmit="registerUser(event)">
        <div class="w3-container" style="padding: 20px;">
          <label for="signup_FarmName">牧場名稱 / 研究員名稱</label>
          <input type="text" id="signup_FarmName" class="w3-input w3-border" placeholder="牧場名稱 / 研究員名稱"><br><br>
          <label for="signup_mail">Email</label>
          <input type="email" id="signup_mail" class="w3-input w3-border" placeholder="Email"><br>
          <label for="signup_pw">Password</label>
          <input type="password" id="signup_pw" class="w3-input w3-border" placeholder="Password"><br><br>
          <label for="userRole">身分</label>
          <select id="userRole" class="w3-select w3-border">
            <option value="Farmer" selected>牧場主</option>
            <option value="GeneticResearcher">基因研究者</option>
          </select><br><br>
          <div style="text-align: center;">
            <button type="submit" class="w3-button w3-theme">註冊</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- 忘記密碼 -->
  <div id="id03" class="w3-modal" style="display:none;">
    <div class="w3-modal-content w3-card-4 w3-animate-top" style="width:500px;">
      <header class="w3-container w3-teal"> 
        <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
        <h4 style="text-align:center;">忘記密碼</h4>
      </header>
      <div class="w3-container" style="padding:20px;">
        <label>Email</label><br>
        <input type="email" id="resetEmail" class="w3-input w3-border" placeholder="輸入Email"><br>
        <button class="w3-button w3-teal" onclick="sendCode()">發送驗證碼</button>

        <div id="verifySection" style="display:none; padding-top:20px;">
          <label>驗證碼</label><br>
          <input type="text" id="codeInput" class="w3-input w3-border" placeholder="輸入驗證碼"><br>
          <span id="codeError" class="w3-text-red" style="display:none;">驗證碼錯誤或過期</span><br>
          <button class="w3-button w3-teal" onclick="verifyCode()">驗證</button>
        </div>

        <form id="resetForm" style="display:none; padding-top:20px;">
          <label>新密碼</label><br>
          <input type="password" id="newPw" class="w3-input w3-border" placeholder="輸入新密碼"><br>
          <label>確認新密碼</label><br>
          <input type="password" id="confirmPw" class="w3-input w3-border" placeholder="再次輸入新密碼"><br><br>
          <button type="submit" class="w3-button w3-teal">設定新密碼</button>
        </form>
      </div>
    </div>
  </div>


  <!-- 成長預測 -->
  <div class="w3-container w3-padding-64 w3-theme-l5" id="pred">
    <div class="w3-row">
      <div class="w3-col m12">
        <div class="w3-padding-16" style="margin-bottom: 10px;">
          <span class="w3-border-teal w3-bottombar" style="font-size: 30px;">成長預測</span>
        </div>
      </div>
    </div>
  
    <div class="w3-row-padding" style="justify-self: center;">
      <button type="button" id="selectSheepBtn">從 CSV 選羊</button>

      <div id="sheepModal" class="modal" style="display:none;">
        <div class="modal-content">
          <span id="closeModal" class="close">&times;</span>
          <h3>選擇羊隻</h3>
          <select id="sheepSelect"></select>
          <button id="loadSheepBtn">載入資料並預測</button>
        </div>
      </div>

      <h5>請輸入羊隻的基本資料</h5>
      <form id="predictForm" class="form-grid">
        <div style="display: flex; align-items: center; gap: 40px; flex-wrap: wrap;">
          <table>
            <tr>
              <td><label for="self_EarNum">羊隻編號 : </label></td>
              <td><input type="text" name="input_data[0]" id="self_EarNum" required></td>
            </tr>
            <tr>
              <td><label for="self_BirWeight">羊隻出生體重 : </label></td>
              <td><input type="text" name="input_data[1]" id="self_BirWeight" required></td>
              <td style="width: 40px;"></td>
              <td><label for="self_BirMeaDate">羊隻出生日期 : </label></td>
              <td><input type="date" name="input_data[2]" id="self_BirMeaDate" required></td>
            </tr>
            <tr>
              <td><label for="self_First_Weight">第一個月的體重 : </label></td>
              <td><input type="text" name="input_data[3]" id="self_First_Weight" required></td>
              <td style="width: 5%;"></td>
              <td><label for="self_First_MeaDate">第一個月的測量日期 : </label></td>
              <td><input type="date" name="input_data[4]" id="self_First_MeaDate" required></td>
            </tr>
            <tr>
              <td><label for="self_Second_Weight">第二個月的體重 : </label></td>
              <td><input type="text" name="input_data[5]" id="self_Second_Weight" required></td>
              <td style="width: 5%;"></td>
              <td><label for="self_Second_MeaDate">第二個月的測量日期 : </label></td>
              <td><input type="date" name="input_data[6]" id="self_Second_MeaDate" required></td>
            </tr>
            <tr>
              <td><label for="self_Third_Weight">第三個月的體重 : </label></td>
              <td><input type="text" name="input_data[7]" id="self_Third_Weight" required></td>
              <td style="width: 5%;"></td>
              <td><label for="self_Third_MeaDate">第三個月的測量日期 : </label></td>
              <td><input type="date" name="input_data[8]" id="self_Third_MeaDate" required></td>
            </tr>
            <tr>
              <td><label for="self_Forth_Weight">第四個月的體重 : </label></td>
              <td><input type="text" name="input_data[9]" id="self_Forth_Weight"></td>
              <td style="width: 5%;"></td>
              <td><label for="self_Forth_MeaDate">第四個月的測量日期 : </label></td>
              <td><input type="date" name="input_data[10]" id="self_Forth_MeaDate"></td>
            </tr>
            <tr>
              <td><label for="self_Fifth_Weight">第五個月的體重 : </label></td>
              <td><input type="text" name="input_data[11]" id="self_Fifth_Weight"></td>
              <td style="width: 5%;"></td>
              <td><label for="self_Fifth_MeaDate">第五個月的測量日期 : </label></td>
              <td><input type="date" name="input_data[12]" id="self_Fifth_MeaDate"></td>
            </tr>
            <tr>
              <td><label for="self_Breed">羊隻品種 : </label></td>
              <td><input type="text" name="input_data[13]" id="self_Breed" required></td>
            </tr>
            <tr>
              <td><label for="dam_EarNum">羊隻母親的編號 : </label></td>
              <td><input type="text" name="input_data[14]" id="dam_EarNum" required></td>
              <td style="width: 5%;"></td>
              <td><label for="dam_Breed">羊隻母親的品種 : </label></td>
              <td><input type="text" name="input_data[15]" id="dam_Breed" required></td>
            </tr>
            <tr>
              <td><label for="sire_EarNum">羊隻父親的編號 : </label></td>
              <td><input type="text" name="input_data[16]" id="sire_EarNum" required></td>
              <td style="width: 5%;"></td>
              <td><label for="sire_Breed">羊隻父親的品種 : </label></td>
              <td><input type="text" name="input_data[17]" id="sire_Breed" required></td>
            </tr>
            <tr>
              <td><label for="predict_day">預測天數(預設30天): </label></td>
              <td><input type="text" name="input_data[18]" id="predict_day" required></td>
            </tr>
          </table>
          <img src="/static/img/goat.png" alt="goat" style="height: 300px; width: auto;">
        </div>
        <div class="w3-row" style="margin-top: 30px;">
          <button type="submit" class="w3-button w3-theme-white w3-hover-teal" style="width: 315px;">開始預測</button>
          <div id="resultArea"></div>
          <!-- <img id="growthCurve"> -->
        </div>
      </form>
    </div>
  </div>


  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-theme w3-center">
    <h4>Follow Us</h4>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

    <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
      <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
      <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
      <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
  </footer>

  <!-- 忘記密碼 -->
  <script src="/static/js/ForgotPW.js"></script>

  <!-- 使用者登入狀態 -->
  <script src="/static/js/localStorage.js"></script>
  
  <script src="/static/js/predict.js"></script>
</body>
</html>